*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root{
  --bg-color:#EBC7E8;
  --bg-primary:#16213E;
  --btn-color:#A084CA;
  --btn-hover:#B1B2FF;
  --text-color:#ffffff;
}
html{
  font-family: Sans-Serif;
  font-size: 62.5%;
}